<!DOCTYPE html>
<html>

   <head>
      <title>Tutorialspoint</title>
      
      <%= csrf_meta_tags %>
   </head>

   <body>
      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
      </div>
   </body>

</html>
